// testimonial
.testimonial-wrapper {
  display: flex;
  align-items: stretch;
  overflow: hidden;

  .container {
    display: flex;
    align-items: stretch;
    @include rwd($md) {
      flex-direction: column;
    }
  }
  .custom-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryColor;
    position: relative;
    @include rwd($md) {
      justify-content: flex-start;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background: $primaryColor;
      width: 51vw;
      left: -50vw;
      height: 100%;
      z-index: -1;
    }
    @include rwd($md) {
      width: 100%;
      &:after {
        width: 110vw;
        left: -10vw;
      }
    }
  }
  .detail {
    background: $testimonialColor;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px;
    align-items: center;
    justify-content: center;
    position: relative;
    @include rwd($sm) {
      padding: 25px 15px;
    }
    @include rwd($xs) {
      padding: 15px 0;
    }

    &:after {
      content: "";
      display: block;
      background: $testimonialColor;
      width: 50vw;
      position: absolute;
      right: -49vw;
      height: 100%;
      z-index: -1;
    }
    @include rwd($md) {
      width: 100%;
      &:after {
        width: 110vw;
        right: -10vw;
      }
    }
    @include rwd($xxs) {
      &:after {
        width: 110vw;
        right: 10vw;
      }
    }
    .testimonial-title {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-bottom: 50px;
      @include rwd($xs) {
        margin-bottom: 20px;
      }
      .icon {
        width: 75px;
        height: 75px;
        background-color: $primaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        @include rwd($md) {
          width: 50px;
          height: 50px;
          img {
            width: 50%;
          }
        }
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: $primaryColor;
      }
    }
    .testimonial-detail {
      width: 75%;
      // margin: auto;
      word-break: break-word;
      @include rwd($sm) {
        width: 90%;
      }
      @include rwd($xs) {
        width: auto;
        padding-right: 32px;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $customeTitleColor;
      }
    }
    .sign {
      display: flex;
      align-items: center;
      margin-top: 50px;
      p {
        color: $primaryColor;
        margin: 0;
        margin-left: 15px;
      }

      &:before {
        content: "";
        display: inline-block;
        width: 80px;
        border: 1px solid $primaryColor;
      }
    }
  }
}
